.intro-img {
  /* background: url(https://static01.nyt.com/images/2022/04/04/multimedia/15ai-nocode/15ai-nocode-jumbo.gif?quality=75&auto=webp)
    center/cover; */
  background: url(https://static01.nyt.com/images/2022/04/04/multimedia/15ai-nocode/15ai-nocode-videoSixteenByNineJumbo1600.jpg)
    center/cover;
  min-height: 80vh;
}
.imgHover:hover {
  transition: all 400ms ease;
  transform: translateY(-10px) translateX(-5px);
  box-shadow: 10px 20px 0 0 black;
}
